<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="outline">
        <ion-back-button defaultHref="/tabs/tab4">Voltar</ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Descrição</ion-label>
  </ion-item>
  <ion-item>
    <ion-select label="Tipo" label-placement="floating"  fill="solid">
      <ion-select-option value="Todos">Todos</ion-select-option>
      <ion-select-option value="Roupas">Roupas</ion-select-option>
      <ion-select-option value="Sapatos">Sapatos</ion-select-option>
      <ion-select-option value="Bolsas">Bolsas</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="image-outline"></ion-icon>
    <ion-label>Selecione uma imagem</ion-label>
  </ion-item>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button fill="solid" color="danger">
        CANCELAR
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button fill="solid" color="primary">
        OK
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
