<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <ion-item-divider>Exercício 1</ion-item-divider>
  <ion-item>
    <ion-input [clearInput]="true" label="Nome:" type="text" placeholder="Fulano"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [clearInput]="true" label="Nota:" type="number" placeholder="5" min="0" max="10"></ion-input>
  </ion-item>
  <ion-button expand="full" color="success">SALVAR</ion-button>
<ion-button expand="full" color="danger">CANCELAR</ion-button>
-->
<!-- Exercício 2 -->
<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button  color="success"><ion-icon name="camera-outline"></ion-icon></ion-fab-button>
  <ion-fab-list side="top">
  <ion-fab-button><ion-icon name="image-outline"></ion-icon></ion-fab-button>
  <ion-fab-button><ion-icon name="caret-forward-circle-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab> -->
  <ion-card>
    <ion-item routerLink="./configuracoes">
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-item>
    <ion-item routerLink="./contatos">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Contatos</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item (click)="abrir()">
      <ion-icon slot="start" name="cash-outline"></ion-icon>
      <ion-label>Fluxo de caixa</ion-label>
    </ion-item>
    <ion-card [ngStyle]="{'display': display}">
      <ion-item>
        <ion-label> Entrada: R$ {{ Entrada }},00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>  Saída: R$ {{ Saida }},00</ion-label>
      </ion-item>
      <ion-item color="{{Cor}}">
        <ion-label>Total em caixa R$ {{ Total }},00</ion-label>
      </ion-item>
      <ion-item>
        <ion-button (click)="add()">ADICIONAR R$ 1,00</ion-button>
        <ion-button color="danger" (click)="ret()">RETIRAR R$ 1,00</ion-button>
        <ion-button color="success" (click)="zerar()">ZERAR</ion-button>
      </ion-item>
      <ion-item>
        <ion-button slot="end" color="danger" (click)="fechar()">FECHAR</ion-button>
      </ion-item>
    </ion-card>
  </ion-card>
</ion-content>
