<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Albuns</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <ion-item>
    <ion-label for="">Garota Safada</ion-label>
    <ion-thumbnail slot="end">
      <img src="../assets/img/garota.jpg" alt="">
    </ion-thumbnail>
  </ion-item>
  <ion-item>
    <ion-label for="">Nirvana</ion-label>
    <ion-thumbnail slot="end">
      <img src="../assets/img/Nirvana.jpg" alt="">
    </ion-thumbnail>
  </ion-item>
  <ion-item>
    <ion-label for="">Zé Ramalho</ion-label>
    <ion-thumbnail slot="end">
      <img src="../assets/img/Ze.jpg" alt="">
    </ion-thumbnail>
  </ion-item>
  <ion-item routerLink="./nova">
    <ion-label>Estudando Badge</ion-label>
  </ion-item>
</ion-content>

<ion-footer>
    <ion-toolbar>

      <ion-input label="Pesquisa" label-placement="floating"  fill="solid" [clearInput]="true" id="nome" placeholder="Ex: Lucas"></ion-input>
    </ion-toolbar>

  </ion-footer>
