<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista Telefônica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Pesquisa" label-placement="floating"  fill="solid" [clearInput]="true" id="nome" placeholder="Ex: Armazenamento"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
    <ion-label>Sons</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="image-outline"></ion-icon>
    <ion-label>Imagens</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="folder-open-outline"></ion-icon>
    <ion-label>Armazenamento</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="extension-puzzle-outline"></ion-icon>
    <ion-label>Aplicativos</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="person-circle-outline"></ion-icon>
    <ion-label class="cor">Contas</ion-label>
  </ion-item>
  <ion-item color="danger">
    <ion-icon slot="start" name="build-outline"></ion-icon>
    <ion-label>Restaurar Configuração de Fábrica</ion-label>
  </ion-item>
  <ion-item-divider color="success">Estudando chip</ion-item-divider>
  <ion-card>
    <ion-chip color="success">
    <ion-label>Escola</ion-label>
    <ion-icon name="school-outline"></ion-icon>
    </ion-chip>
    <ion-chip color="warning">
      <ion-label>Academia</ion-label>
      <ion-icon name="barbell-outline"></ion-icon>
    </ion-chip>
    <ion-chip color="primary">
      <ion-label>Comércio</ion-label>
      <ion-icon name="storefront-outline"></ion-icon>
    </ion-chip>
    <ion-item>
      <label for="">Matriculado</label>
      <ion-badge slot="end" color="danger">NÃO</ion-badge>
    </ion-item>
  </ion-card>

</ion-content>
