<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider class="divisa">Dados Pessoais</ion-item-divider>
  <ion-item>
    <ion-input label="Nome" label-placement="floating"  fill="solid" [clearInput]="true" id="nome" placeholder="Digite seu nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Data Nascimento" label-placement="floating"  fill="solid" [clearInput]="true" id="nome" type="date"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Hora Nascimento" label-placement="floating"  fill="solid" [clearInput]="true" id="nome" type="time"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Senha" label-placement="floating"  fill="solid" [clearInput]="true" id="nome" type="password"></ion-input>
  </ion-item>
 <ion-item>
   <ion-label>Deficiente</ion-label>
   <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-range label="Horas trabalhadas" pin="true" min=1 max=10></ion-range>
   </ion-item>
  <ion-toolbar>
    <ion-title slot="start"> <ion-icon name="home-outline"></ion-icon> </ion-title>
    <ion-title slot="start">Endereço</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-input label="Cidade" label-placement="floating"  fill="solid" [clearInput]="true" id="nome" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select label="Estado" label-placement="floating"  fill="solid">
      <ion-select-option value="PE">Pernambuco</ion-select-option>
      <ion-select-option value="PB">Paraíba</ion-select-option>
      <ion-select-option value="BA">Bahia</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input label="Rua" label-placement="floating"  fill="solid" [clearInput]="true" id="nome" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Número" label-placement="floating"  fill="solid" [clearInput]="true" id="nome" type="text" placeholder="45"></ion-input>
  </ion-item>

</ion-content>
